

@font-face {
  font-family: 'Markazi';
  src: url('assets/fonts/MarkaziText-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('assets/fonts/Karla-VariableFont_wght.ttf') format('truetype') ;
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: 'DM';
  src: url('assets/fonts/DMSerifText-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'IBM';
  src: url('assets/fonts/IBMPlexMono-Light.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  display: flex;
  height: 150px;
  background-color: #495E57;
  color: #fff;
  align-content: center;
  justify-content: space-evenly;
  padding: 25px;
  gap: 5vw;
  
}
footer > img {
  background-color: #fff;
  padding: 10px;
}
footer > ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

footer > ul > li{
  color: #fff;
  font-size: small;
  
}
footer > ul > li > .navLink{
  color: #fff;
  
}



.hamburger{
  display:none;
  transition: .35s;
}
.hamburger:hover {
  opacity: 0.65;
  transition: 0.35s;
}
#menu{
   display:none;
}

nav {
  background-color: #fff;
  display: flex;
  position: relative;
  top: 0px;
  padding-inline: 5vw;
  padding-block: 1vw;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#logoLink {
  align-content: center;
}
#logo {
  scale: 1.5;
}
.basket {
  scale: .85;
  cursor: pointer;
}

.footerLogo {
  display: none;
  width: 100%;
}
#menu {
  display:flex;
  width: 75%;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
}

.navLink{
  font-family: 'IBM';
  font-weight: 700;
  padding: 0;
  text-align: center;
  color: #495E57;
  text-decoration-line: none;
}
  /*text-decoration-line: none;*/


.activeNavItem {
  color: #F4CE14;
}


ul > li {
  transition: .35s;

}
ul > li:hover {
  opacity: 0.65;
  transition: 0.35s;
}

h1 {
  font-family: 'Markazi';
  font-size: clamp(32px, 7vw, 72px) ;
  color: #F4CE14;
  margin-block: 0px;
  font-weight: 500;
  line-height: 55%;
}
h2 {
  font-family: 'Markazi';
  font-weight: 400;
  font-size: 32px;
  font-size: clamp(18px, 4vw, 42px) ;
  color: white;
  margin-block: 0px;
}
.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 20px;
  justify-content: center;
  text-align: left;
  background-color: #495E57;
  padding-inline: 15vw;
  padding-block: 5vw;

}
.hero-section > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  
}
.hero-section > div > p {
  font-family: 'Karla';
  color: white;
  font-size: clamp(12px, 2.5vw, 26px);
}

#img {
  border-radius:12px;
  object-fit: cover;
  background-image: url("assets/images/food-tray.jpg");
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  transition: .35s;
}

#img:hover {
  scale: 1.1;
  transition: .35s;
}

section {
  flex: 1;
  padding-inline: 10vw;
  padding-block: 40px;
  
}

.highlights div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.highlights > div > h2 {
  color: #000;
}

#cardbox {
  display: flex;
  flex: 1;
  gap: 1vw;
  justify-content: space-evenly;
  align-items: start;
  width: 100%;
  padding: 5vw;
  justify-self: center;
}
.button {
  background-color: #F4CE14;
  color: #000;
  text-decoration-line: none;
  padding-inline: 4vw;
  padding-block: .5vw;
  border-radius: 28px;
  font-size: clamp(14px, 2.5vw, 28px);
  font-weight: 900;
  font-family: 'Karla';
  cursor: pointer;
  transition: 1s ease;
}

.button:active {
  opacity: .5;
  transition: .1s ease;
}

.card {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #E9E9E9;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: start;

}
.card > img {
  
  width: 100%;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.card-title {
  margin: 1vw;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.card-title > h3 {
  margin: 0px;
  font-family: 'Karla';
  font-size: clamp(12px, 2.5vw, 40px);
}
.card-title > h4 {
  margin: 0px;
  font-family: 'Karla';
  font-size: 2vw;
  color: #F4CE14;
}
.card-content > p {
  font-family: 'Karla';
  font-size: clamp(12px, 2.5vw, 24px);
  width: 90%;
}

.card-button {
  font-family: 'Karla';
  font-size: clamp(10px, 2vw, 24px);
  width: 90%;
  padding: 1vw;
  padding-bottom: 2vw;
  font-weight: 700;
  cursor: pointer;
}
section h2 {
  font-family: 'IBM';
  font-weight: 700;
}

.testimonials {
  background-color: #495E57;
}

.testimonials h2 {
  color: #F4CE14;
  text-align: center;
}

.about h2{
  color: black
}

@media screen and (max-width: 960px) {
#menu{
  display:block;
  position: fixed;
  top: 0;
  margin-top: 0px;
  background-color: #fff;
  width: 33%;
  font-size: 1rem;
  font-family: 'IBM';
  font-weight: 400;
  padding-inline: 5%;
  padding-block: 2%;
  height: 98vh;
  transition: 300ms ease;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.menu-closed {
  left: -75vw;

}
#menu > li{
  text-align: left;
  font-size: clamp(18px, 4vw, 24px);
  padding-block: 7px;
}

.hamburger {
  display: block;
  width: 5%;
  padding-right: 5%;
  cursor: pointer;
}


#menu > .hamburger {
  display: block;
  width: 15%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 10%;
}

.navLink {
  color: #495E57;
}

.menu-open {
  left: 0;
}

nav #logo {
  scale: 1;
}
.basket {
  scale: .6;
}
.footerLogo {
  display: block;
  width: 15%;
  background-color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 25px;
  justify-self: center;

}
.hideBg {
  display: none;
  background-color: #282c34;
  opacity: 0;
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0%;
  left: 0%;
}
.showNavBg {
  display: block;
  background-color: #282c34;
  opacity: .4;
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0%;
  left: 0%;
}
}
